* {
  margin: 0px;
  padding: 0px;
  font: 1.1rem "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


/* font styling */
p,
td,
input {
  /* font-family: "Roboto Mono", monospace; */
  font-family: "Roboto Mono", monospace;
  word-spacing: 0.3rem;
  letter-spacing: 0.05rem;
}

th {
  font-size: large;
  font-weight: bolder;
  word-spacing: 0.3rem;
  letter-spacing: 0.1rem;
}

h1 {
  font-family: "Shantell Sans", cursive;
  word-spacing: 0.5rem;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;

}

/*For Profule Username */
.header-user span {
  font-family: "Shantell Sans", cursive;
  word-spacing: 0.5rem;
  letter-spacing: 0.1rem;
}


body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to right bottom, #334855, #25435c, #1e3d61, #233565, #312a64);
}

a {
  color: rgba(255, 255, 255, 0.683);
  text-decoration: none;
  padding: 5px;
}

a:hover {
  color: red;
}

.flex{
  display: flex;
}

.wrapper {
  flex-direction: column;
  color: white;
  height: 100%;
  /* change me to revert colors */
  padding: 20px;
  padding-left: 40px;
}


/* ---------------------------------------------------------------------------Header--------------------------------------------------------------------------- */

.logo {
  width: 90px;
  height: 90px;
  border: 3px solid blue;
  border-radius: 50%;
}

.header {
  /* justify-content: space-between; */
  align-items: flex-start;
}

.header-image {
  flex: 1;
}

.header-items {
  align-items: center;
  gap: 20px;
  flex: 1;
  /* text-decoration: underline; */
}

.header-user {
  gap: 20px;
  margin: 10px;
  flex: 1;
  justify-content: space-around;
  /* position: relative; */
}

.user-icon-and-name {
  gap: 1rem;
  align-items: flex-start;
  /* padding-bottom: 5px; */
}

.profile-options {
  gap: 30px;
  color: rgb(162, 162, 127);
}

/* colors are not getting applied for options */

/* .sem-selector span {            
      color: white;
      border: 4px solid red;
  } */

/* ---------------------------------------------------------------------------Sem Selection and SearchBar--------------------------------------------------------------------------- */
.sem-select-and-search {
  justify-content: space-around;
  align-items: center;
}

.sem-selector-form {
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.sem-selector {
  /* align-self: flex-start; */
  gap: 20px;
  padding-block: 30px;
  justify-content: center;
  align-items: center;
}

.semester select {
  background-color: #223243;
  border: none;
  outline: none;
  padding: 8px;
  padding-right: 10px;
  border-radius: 0.5rem;
  color: rgb(187, 165, 125);
}

.table-searchbar {
  /* border: 2px solid red; */
  gap: 20px;
  align-items: center;
}

.search-bar-icon {
  /* border: 2px solid brown; */
  position: relative;
  left: 50px;
  color: rgb(161, 142, 105);
}

.table-searchbar input {
  padding: 10px;
  border-radius: 1rem;
  padding-left: 40px;
  background-color: #223243;
  color: white;
  border: none;
}

.search-bar-input input:focus {
  outline: none;
}

.search-bar-input input::placeholder {
  padding-left: 10px;
}

/* ---------------------------------------------------------------------------Button --------------------------------------------------------------------------- */

.sem-selector-form button {
  width: 70px;
  height: 30px;
  background-color: orange;
  color: black;
  border-radius: 1rem;
  border: none;
  margin-left: auto;
}

.sem-selector-form button:hover {
  background-color: #6c71ba;
}

/* ---------------------------------------------------------------------------Course boxes--------------------------------------------------------------------------- */

.courses-boxes-section {
  padding: 20px;
  overflow-y: auto;
  margin-bottom: 30px;
}

.course-items {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 300px);
  justify-content: space-between;
  overflow-y: auto;
  padding: 20px;
  border: 1px solid red;
}

.course-item {
  width: 320px;
  padding: 30px;
  background-color: #223243;
  border-radius: 1rem;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
}

.course-item p {
  gap: 30px;
}

.course-item:hover {
  box-shadow: -1px 0px 20px 9px rgba(0, 0, 0, 0.75);
  justify-content: center;
  cursor: pointer;
}

/* --------------------------------------------------------------------------- Footer ---------------------------------------------------------------- */

footer {
  /* border: 4px solid red; */
  margin-top: auto;
  padding-bottom: 20px;
}

.footer {
  /* border: 4px solid red; */
  /* margin: auto; */
  margin-left: auto;
  margin-right: auto;
}