* {
  margin: 0px;
  /* font-size: 1.1rem !important; */
  padding: 0px;
  font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* text-shadow: 3px 6px 2px rgba(0, 0, 0, .3); */
}

body {
  display: flex;
  flex-direction: column;
  background-color: #223243;
  color: wheat;
  width: 90%;
  height: 90vh;
  /* box-sizing: border-box; */
  margin: auto;
  margin-top: 20px;
  border-radius: 42px;
  background: #1d2b3a;
  /* box-shadow: 9px 9px 1px #0c1117, -9px -9px 1px #2e455d; */
  box-shadow: 2px -6px 26px 16px rgba(60, 74, 29, 0.83);
  padding: 30px;
  padding-top: 0px;
  /* change me to revert colors */
  background-image: linear-gradient(
    to right bottom,
    #202710,
    #132c1e,
    #07302e,
    #0d323c,
    #223243
  );
}
h1 {
  font-size: 1.5rem;
}

/* ---------------------------------------------------------------------------Header--------------------------------------------------------------------------- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 20px;
}

.header-items {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: underline;
}

.header-user {
  display: flex;
  gap: 20px;
  margin: 10px;
  /* position: relative; */
}

.profile-options {
  display: none;
}

.profile-options li {
  font-size: 0.9rem;
  margin: 7px 0px;
}

.header-user-name:hover .profile-options {
  display: block;
  position: absolute;
}

.profile-options li:hover {
  color: red;
  cursor: pointer;
  gap: 4px;
}

.profile-options a {
  color: inherit;
  text-decoration: none;
  font: inherit;
}

/* -----------------------------------------------------------------------Sem Select--------------------------------------------------------------------------- */

.sem-selector {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* colors are not getting applied for options */

/* .sem-selector span {            
      color: wheat;
      border: 4px solid red;
  } */
/* ---------------------------------------------------------------------------TABLE--------------------------------------------------------------------------- */

.courses-table {
  width: 90vw;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
}

.courses-table thead tr {
  background-color: grey;
  color: wheat;
  text-align: left;
  font-weight: bold;
}

.courses-table th {
  /* change me to revert colors */
  background-color: #3c4a1d;
}

.courses-table th,
.courses-table td {
  padding: 12px 16px;
}

.courses-table tbody tr {
  border-bottom: 10px solid red;
}

.courses-table tbody tr:nth-child(even) {
  background-color: rgb(34, 50, 67, 0.9);
}

.courses-table tbody tr:nth-child(odd) {
  background-color: rgb(34, 50, 67, 0.5);
}

.courses-table tr:hover {
  background-color: #0d243c !important;
}

table {
  width: 90vw;
}

section{
    margin-top: auto;
    margin-bottom: auto;
}

/* --------------------------------------------------------------------------- Footer ---------------------------------------------------------------- */

footer {
  /* border: 4px solid red; */
  margin-top: auto;
  display: flex;
}

.footer {
  /* border: 4px solid red; */
  /* margin: auto; */
  margin-left: auto;
  margin-right: auto;
}
